/tehtavat/02_abstract_factory/nbproject/private/
/tehtavat/DP02_abstractfactory/nbproject/private/
/tehtavat/DP01_factorymethod/nbproject/private/
/tehtavat/DP02_abstractfactory/build/
/tehtavat/DP05_composite/nbproject/private/
/tehtavat/DP03_abstractfactory/nbproject/private/
/tehtavat/DP03_composite/nbproject/private/
/tehtavat/DP03_composite/build/
/tehtavat/DP03b_composite_and_abstractfactory/build/
/tehtavat/DP03b_composite_and_abstractfactory/nbproject/private/

*.bak
*.class

# Astah file created when application is running
*.lock
/DP04_observer/DP04_observer/nbproject/private/
/DP04_observer/DP04_observer/build/
/DP05_singleton/DP05_singleton/nbproject/private/
/DP05_singleton/build/
/DP06_decorator/nbproject/private/
/DP06_decorator/build/
/DP07_state/nbproject/private/
/DP07_state/build/
/DP05_singleton/dist/
/DP08_templatemethod/nbproject/private/
/DP08_templatemethod/build/
/DP09_strategy/nbproject/private/
/DP09_strategy/build/