/tehtavat/02_abstract_factory/nbproject/private/
/tehtavat/DP02_abstractfactory/nbproject/private/
/tehtavat/DP01_factorymethod/nbproject/private/
/tehtavat/DP02_abstractfactory/build/
/tehtavat/DP05_composite/nbproject/private/
/tehtavat/DP03_abstractfactory/nbproject/private/
/tehtavat/DP03_composite/nbproject/private/
/tehtavat/DP03_composite/build/
/tehtavat/DP03b_composite_and_abstractfactory/build/
/tehtavat/DP03b_composite_and_abstractfactory/nbproject/private/

*.bak
*.class

# Astah file created when application is running
*.lock